@media (min-width: 768px)
{
    .create-event-container {
        width: 80% !important
    }
}


@media (min-width: 576px)
{
    .create-event-container {
        width: 80% !important
    }
}

@media (max-width: 400px)
{
    .create-event-container {
        width: 90% !important
    }
}



